# environment vars
.env
.venv
env/
venv/
ENV/

# If any one of us uses Jupyter Notebook
.ipynb_checkpoints

# Vim version stuff
*.swp
*.swo

# vscode folder
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class# Byte-compiled / optimized / DLL files
**/__pycache__/**
**/**/__pycache__/**
*.py[cod]
*$py.class
*.pyc

#too muuch data to store in github. Just using ggoogle drive
historical_data/
back_testing/historical_data/

#don't store pesky html or csv files that there may be
backend/*.html
*.csv

#plotting and graphs
back_testing/plots/
back_testing/logs/
back_testing/slippage_logs/
