<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v6_23">
        <div class="background"></div>
        <span class="portfolio_value">$24809.22</span>
        <div class="portfolio_plot"></div>
        <div class="sidebar">
                
            
            
            <span class="v6_6">Positions</span>
            <div class="v6_13"></div>
            <span class="v6_20">69.0 BTC / $36021 +2.7% / 0.35</span>
            <div class="v6_14"></div>
            <span class="v6_21">69.0 XBT / $0.25 -2.7% / 0.35</span>

            <div class="status">
                <span class="overall_status">status</span>
                <div class="v5_23"></div>
                <div class="status_group">
                    <div class='PSM_status'>PSM</div>
                    <div class="DataConsumer_status">Data Consumer</div>
                    <div class="BeverlyHills_status">Beverly Hills</div>
                    <div class="Binance_status">Binance</div>

                    
                    <div class="v5_16"></div>
                    <div class="v5_19"></div>
                    <div class="v5_18"></div>
                    <div class="v5_17"></div>
                
                </div>
            </div>
        </div>
        
        <span class="v6_5">Y</span>
        <span class="v6_3">M</span>
        <span class="v6_4">D</span>
        <span class="portfolio_delta">+20.2% +$4701.13</span>
        
    </div>
</body>

</html>