@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a202c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #191919; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



#positions_update {
  overflow-y:scroll;
  height:70%;
}

.position_list{
  padding: 0;
  list-style-type: none;
  margin:1px;
  
}

.position{
  color:#ebf5ff;
  list-style-type: none;
  font-family: Space Mono;
  font-size: 0.9vw;
  position:relative;
  height:3.5vw;
}

#dropdown {
  font-family: Space Mono; 
  border:0px;

  outline:0px;
}

#react-select-2--value {
  background-color:rgb(25, 25, 25) !important;
  border:0px !important;
  outline:0px !important;
}

#dropdown .Select-clear-zone {
  background-color:rgb(25, 25, 25) !important;
  border:0px !important;
  outline:0px !important;

}

#dropdown .Select-arrow-zone {
  background-color:rgb(25, 25, 25) !important;
  border:0px !important;
  outline:0px !important;
}

#dropdown .Select-value-label{
  color:#ebf5ff;
  font-weight:bolder;
}

#dropdown .Select-menu-outer{
  border:0px;
  outline:0px;
  background-color: rgb(25, 25, 25);
  color:#ebf5ff;;
}



#dropdown .VirtualizedSelectFocusedOption{
  background-color: #1a202c;
  color:#ebf5ff;;
  font-weight:bolder;
  border:0px;
  outline:0px;

}

.background {
  width: 100vw;
  height: 100vh;
  background: url("./images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.asset_info {
  top: 1.527vh;
  left: 3vw;
  position: absolute;
  opacity: 1;
  font-family: Space Mono;
  text-align: right;
}
.asset_value {
  
  color: #ebf5ff;
  font-size: 5.55vh;
  
}
.asset_delta {
  position: relative;
  right: 4px;
  top: -2vh;
  color: rgba(96,96,96,1);
  font-size: 2.775vh;
  
  
}
.sidebar {
  width: 20%;
  height: 100%;
  background: rgb(51 51 51 / 30%);
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  overflow-x: hidden;

}
.asset_plot {
  width: 70%;
  height: 80%;
  background: rgb(51 51 51 / 30%);
  opacity: 1;
  overflow: hidden;
  position: absolute;
  bottom:5%;
  left:2.5%;
}
.status_group {
  position:absolute;
  bottom:0;
  flex-wrap: wrap;
  list-style-type: none;
  width:80%;
  display:block;
  margin: 0;
  padding: 20px;
  float:bottom;
}
.overall_statustext {
  position: relative;
  width:80%;
  font-family: Space Mono;
  font-size: 3vh;
  font-weight: Bold;
  color: #ebf5ff;
  text-align:right;
  display:inline-block;
  margin-right:1.75vh;
}
.statustext {
  position: relative;
  width:80%;
  font-family: Space Mono;
  color:#ebf5ff;
  font-weight: Bold;
  font-size: 2vh;
  opacity: 1;
  text-align:right;
  display:inline-block;
  margin-right:2vh;
}
.statuspair {
  opacity: 1;
  display: flex;
  align-items: center;
}
.statusbubble {
  width: 1.75vh;
  height: 1.75vh;
  background: rgba(114,228,126,1);
  opacity: 1;
  border-radius: 50%;
  display:inline-block;
}
.statusbubble_big {
  width: 2.25vh;
  height: 2.25vh;
  background: rgba(114,228,126,1);
  opacity: 1;
  border-radius: 50%;
  
  display:inline-block;
  
}

.statCoin {
  font-size: 1.5vw;
  position:absolute;
  top:0;
  left:0.5vw;
}

.statCurProfit {
  font-size: 0.75vw;
  position:absolute;
  right:0.3vw;
  top:50%;
  transform: translateY(-50%);
  padding:0.2vw;
  color: #ababab;
}

.statCurPrice {
  font-size: 0.75vw;
  position:absolute;
  bottom:0;
  left:0.3vw;
  padding:0.2vw;
}

.statAmntOwned {
  font-size: 0.75vw;
  position:absolute;
  top:0;
  right:0.3vw;
  padding:0.2vw;
  color: #ababab;
}

.statCurAlloc{
  font-size: 0.75vw;
  position:absolute;
  bottom:0;
  right:0.3vw;
  padding:0.2vw;
  color: #ababab;
}
.statAmntOwnedValue{
  color:#ebf5ff;
}
.statCurProfitValue{
  color:#ebf5ff;
}
.statCurAllocValue{
  color:#ebf5ff;
}
.d_button{
  color:#636567;
  position:absolute;
  font-family: Space Mono;
  left:64.5%;
  bottom:80%;
  font-size: 2vw;
}

.w_button{
  color:#636567;
  position:absolute;
  font-family: Space Mono;
  left:66.5%;
  bottom:80%;
  font-size: 2vw;
}

.m_button{
  color:#636567;
  position:absolute;
  font-family: Space Mono;
  left:68.5%;
  bottom:80%;
  font-size: 2vw;
}

.y_button{
  color:#636567;
  position:absolute;
  font-family: Space Mono;
  left:70.5%;
  bottom:80%;
  font-size: 2vw;
}