* {
  padding: 0px !important;
  margin: 0px !important;
}
.background {
  width: 100vw;
  height: 100vh;
  background: url("./images/v1_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.asset_info {
  width: 23.4vw;
  top: 1.527vh;
  left: 10px;
  position: absolute;
  opacity: 1;
  font-family: Space Mono;
  text-align: right;
}
.asset_value {
  
  color: rgba(0,0,0,1);
  font-size: 5.55vh;
  
}
.asset_delta {
  position: relative;
  right: 4px;
  top: -2vh;
  color: rgba(96,96,96,1);
  font-size: 2.775vh;
  
  
}
.sidebar {
  width: 20%;
  height: 100%;
  background: rgba(240,240,240,0.3);
  z-index: 1;
  opacity: 1;
  position: fixed;
  top: 0px;
  right: 0px;
  overflow-x: hidden;
  align-items: center;
}
.asset_plot {
  width: 70%;
  height: 80%;
  background: rgba(240,240,240,0.3);
  opacity: 1;
  overflow: hidden;
  position: absolute;
  bottom:5%;
  left:2.5%
}
.status_group {
  width:75%
  
  
}
.overall_statustext {
  font-family: Space Mono;
  font-size: 3vh;
  font-weight: Bold;
  width: 100%;
  color: rgba(0,0,0,1);
  text-align: right;
  position: relative;
  right:3vh;
  
}
.statustext {
  font-family: Space Mono;
  color: rgba(0,0,0,1);
  position: relative;
  right:3vh;
  font-weight: Bold;
  font-size: 2vh;
  opacity: 1;
  text-align: right;
}
.statuspair {
  opacity: 1;
  overflow: hidden;
}
.statusbubble {
  width: 1.75vh;
  height: 1.75vh;
  position: relative;
  float:right;
  top:-2.25vh;
  background: rgba(114,228,126,1);
  opacity: 1;
  border-radius: 50%;
}
.statusbubble_big {
  width: 2.25vh;
  height: 2.25vh;
  position: relative;
  float:right;
  top:-3.25vh;
  background: rgba(114,228,126,1);
  opacity: 1;
  border-radius: 50%;
}
